#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.appTitle {
  font-size: 60px;
  font-family: Arial;
  text-shadow: 2px 2px black;
}

.appArea {
  padding-top: 2em;
}
